

main {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    border: 1px solid #000;
    height: 100%;
}

.neuro{
    background-color: #0656ad;
    border-radius: 2rem;
    
}

.persona{
    background-color: #bb2828;
    border-radius: 2rem;
   
}

main h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: beige;
    font-size: 2rem;
}

.boxers p {
    text-align: center;
    margin-bottom: 2rem;
    color: beige;
}

main p {
    text-align: center;
    margin-bottom: 2rem;
    color: beige;
}

.criar-persona {
    margin-bottom: -1rem; /* Adiciona margem inferior negativa para remover espaço extra */
    border-radius: 1rem;
    padding: 10px;
    background-color: black;
    border-radius: 1px solid red;
}

.criar-persona h1 {
    text-align: center;
    color: beige;
    font-size: 2rem;
    margin-bottom: 5px; 
}

.botao-persona {
    margin-top: 0.25rem;
    padding: 0.5rem;
    width: 40%;
    color: beige;
    background: green;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

.botao-persona:hover {
    background: yellow;
    color: black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

.botao-persona:focus {
    background: #3e3e3e;
    color: white;
}
