{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="mt-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 border rounded shadow mb-5">
                <div class="px-4 pt-4 pb-2 text-start">
                    <div class="col-md-12 text-start">
                        <button onclick="window.history.back()" class="btn btn-primary">
                            <i class="fa-solid fa-arrow-left"></i> Voltar
                        </button>
                    </div>
                    <h4 class="text-center fw-bold">Lista de Problemas</h4>
                    <hr>

                    <!-- Filtro de Neurodivergência -->
                    <div class="mb-4">
                        <label for="neurodivergencia" class="form-label fw-bold">Filtrar por Neurodivergência:</label>
                        <select id="neurodivergencia" class="form-select" name="neurodivergencia" onchange="filtrarProblemas()">
                            <option value="">Todas as Neurodivergências</option>
                            {% for neuro in neurodivergencias %}
                                <option value="{{ neuro.id }}" {% if request.GET.neurodivergencia_id == neuro.id|stringformat:"d" %}selected{% endif %}>{{ neuro.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Tabela de Problemas -->
                    <div class="table-responsive table-dark">
                        <table class="table table-striped table-dark table-bordered">
                            <thead>
                                <tr>
                                    <th>Nome do Problema</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for problema in problemas %}
                                <tr>
                                    <td>{{ problema.descricao }}</td>
                                    <td>
                                        <div class="d-flex justify-content-center" role="group">
                                            <button class="btn btn-info m-1" title="Ver detalhes" data-bs-toggle="modal" data-bs-target="#problemaModal{{ problema.id }}">Visualizar</button>
                                            <a href="{% url 'persona:update_problema' problema.id %}" class="btn btn-warning m-1">Editar</a>
                                            <a href="{% url 'persona:delete_problema' problema.id %}" class="btn btn-danger m-1" title="Excluir o Problema">Excluir</a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Modal para visualização dos detalhes do problema -->
                                <div class="modal fade" id="problemaModal{{ problema.id }}" tabindex="-1" aria-labelledby="problemaModalLabel{{ problema.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header bg-dark">
                                                <h5 class="modal-title" id="problemaModalLabel{{ problema.id }}">Detalhes do Problema: {{ problema.descricao }}</h5>
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Fechar</button>
                                            </div>
                                            <div class="modal-body bg-dark">
                                                <p><strong>Descrição:</strong> {{ problema.descricao }}</p>
                                                <p><strong>Data de Criação:</strong> {{ problema.neurodivergente}}</p>
                                                <!-- Adicione mais detalhes se necessário -->
                                            </div>
                                            <div class="modal-footer bg-dark">
                                                <a href="{% url 'persona:listar_solucoes'  %}" class="btn btn-success">Ver Soluções</a>

                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Script para atualizar a lista de problemas com base na neurodivergência -->
<script>
    function filtrarProblemas() {
        const neurodivergencia = document.getElementById('neurodivergencia').value;
        window.location.href = `?neurodivergencia_id=${neurodivergencia}`;
    }
</script>
{% endblock %}
