    {% extends 'base.html' %}


    {% block style %}     
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    {% endblock %}



    {% block content %}


    <div class="pagina_login container-fluid">
        <form class="mx-auto" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="jumbotron jumbotron-fluid ">
                <div class="container">
                    <h4 class="text-center">Faça seu Login</h4>
                    <div class="form-group card-body">
                        <label class="card-title" for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                        {% if form.username.errors %}
                        <p class="error-message">{{ form.username.errors }}</p>
                        {% endif %}

                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                        {% if form.password.errors %}
                        <p class="error-message">{{ form.password.errors }}</p>
                        {% endif %}
                        <div class="pt-3 float-end ">
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-danger " href="{% url 'registrar' %}">Registrar</a>
                        </div>
                    </div>
                </div>
            </div>


        </form>

    </div>
    {% endblock %}