{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pagInic.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

<div id="page" class="mt-2">
    <main>
        <div class="container">
       
            <div class="row ">
                
                <div class="campo col-lg-12 border rounded shadow ">
                    <div class="px-4 pt-4 pb-2 text-start">
                        
                        <div class=" bg-dark text-center mb-2">
                            <div class="row">
                                <div class="col-12 text-start ">
                                    <button onclick="window.history.back()" class="btn btn-primary">
                                        <i class="fa-solid fa-arrow-left"></i> Voltar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 ">
                                <div class="  text-center rounded  pb-4 " data-bs-toggle="tooltip" data-bs-placement="top" title="Descrição do neurodivergente">
                                    <i class="fas fa-brain h2 pt-3"></i>
                                    <h2 class="mb-3  pb-4">O que é o NueroPersona?</h2>
                                    <hr>
                                    <p style="text-align: justify;"class="align-content-center">NeuroPersona é um projeto desenvolvido para auxiliar desenvolvedores na elicitação de requisitos de acessibilidade voltados para três grupos de neurodivergentes: Transtorno de Déficit de Atenção, Autismo e Dislexia. Além de apoiar a criação de soluções mais inclusivas, o projeto também serve como uma base para o desenvolvimento do Trabalho de Conclusão de Curso (TCC), contando com a contribuição de duas pessoas em sua concepção.</p>
                                    <a href="https://pt.wikipedia.org/wiki/Neurodiversidade" class="btn btn-warning">Saiba Mais</a>
    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl, {
            delay: { "show": 500, "hide": 100 }
        })
    })
</script>
{% endblock %}
