/*
 * Globals
 */
 *{
  font-family: 'Roboto', sans-serif;
 }


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */





.cover-container {
  max-width: 42em;
}

.high-contrast {
  background-color: #000; /* Define o fundo como preto */
  color: #fff; /* Define a cor do texto como branco */
}
/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
main {
    height: 100vh; /* Define a altura do main para 100% da altura da viewport */
}
