{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/personas/create.css">
{% endblock %}

{% block content %}
<main class="mt-2">
    <div class="container ">
        <div class="row justify-content-center   align-items-center">
            <form class="col-md-12  border rounded shadow" method="post">
                {% csrf_token %}
                <div class="px-4 pt-4 pb-2 text-start  ">
                    <div class="col-md-12 text-start mb-3">
                        <button type="button" onclick="window.history.back()" class="btn btn-primary">
                            <i class="fa-solid fa-arrow-left"></i> Voltar 
                        </button>
                    </div>
                    <h4 class="text-center fw-bold">Editar sua persona</h4>
                    <div class="mb-3">
                        <label for="nome" class="form-label fw-bold">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome da sua persona" value="{{ form.instance.nome }}">
                        {% if form.nome.errors %}
                        <p class="error-message">{{ form.nome.errors }}</p>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="mb-3 fw-bold col-md-6">
                            <label for="idade" class="form-label">Idade:</label>
                            <input type="number" class="form-control" id="idade" name="idade" placeholder="Digite a idade da sua persona" value="{{ form.instance.idade }}">
                            {% if form.idade.errors %}
                            <p class="error-message">{{ form.idade.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3 fw-bold col-md-6">
                            <label class="form-label">Sexo:</label>
                            <select class="form-select" id="id_sexo" name="sexo" style="color: #000000;" aria-placeholder="Escolha uma opção" required>
                                {% for choice in form.sexo.field.choices %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == form.instance.sexo %} selected {% endif %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                            {{ form.sexo.errors }}
                        </div>
                    </div>
                   
                    <div class="mb-3 fw-bold">
                        <label for="interesses" class="form-label">Interesses:</label>
                        <input type="text" class="form-control" id="interesses" name="interesses" placeholder="Digite os interesses da sua persona" value="{{ form.instance.interesses }}">
                        {% if form.interesses.errors %}
                        <p class="error-message">{{ form.interesses.errors }}</p>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="interesses" class="form-label fw-bold">Profissão:</label>
                        <input type="text" class="form-control" id="profissao" name="profissao" placeholder="Digite a profissão da sua persona" value="{{ form.instance.profissao }}" >
                        {% if form.interesses.errors %}
                        <p class="error-message">{{ form.profissao.errors }}</p>
                        {% endif %}
                    </div>
                    
                    
                    <div class="custom-form-group fw-bold">
                        <label class="form-label fw-bold">Neurodivergente:</label>
                        {{ form.neurodivergente }}
                        {% if form.neurodivergente.errors %}
                        <p class="error-message">{{ form.neurodivergente.errors }}</p>
                        {% endif %}
                    </div>
                    <div  class="mb-3 fw-bold " style="max-width: 600px; ">
                        <label class="form-label">Problemas:</label>
                        <div id="problemas-container">
                            {% for problema in form.fields.problemas.queryset %}
                            <div class="form-check ">
                                <input class="form-check-input" type="checkbox" name="problemas" value="{{ problema.id }}" id="problema{{ problema.id }}" 
                                {% if problema in form.instance.problemas.all %} checked {% endif %}>
                                <label class="form-check-label" for="problema{{ problema.id }}">
                                    {{ problema.descricao }}
                                </label>
                            </div>
                        {% endfor %}
                        </div>
                        {% if form.problemas.errors %}
                        <p class="error-message">{{ form.problemas.errors }}</p>
                        {% endif %}
                    </div>
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-success">Editar Persona</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const neurodivergenteSelect = document.querySelectorAll('input[name="neurodivergente"]');
        const problemasContainer = document.getElementById('problemas-container');
        const body = document.querySelector('body');

        function updateProblemas() {
            const neurodivergenteIds = Array.from(neurodivergenteSelect).filter(input => input.checked).map(input => input.value);

            if (neurodivergenteIds.length > 0) {
                fetch(`/fetch_problems/?neurodivergente_ids=${neurodivergenteIds.join(',')}`)
                    .then(response => response.json())
                    .then(data => {
                        problemasContainer.innerHTML = data.html;
                        body.classList.add('problems-visible'); // Add class to body when problems are visible
                    });
            } else {
                problemasContainer.innerHTML = ''; // Clear the problems container when no neurodivergence is selected
                body.classList.remove('problems-visible'); // Remove class from body when problems are not visible
            }
        }

        neurodivergenteSelect.forEach(neurodivergente => {
            neurodivergente.addEventListener('change', updateProblemas);
        });

        updateProblemas(); // Initial call to populate problems if any neurodivergence is pre-selected
    });
</script>
{% endblock %}
    