{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/userLogin.css">
{% endblock %}

{% block content %}
<div class="pagina_login container-fluid">
    <div class="row justify-content-center align-items-center min-vh-100">
        <form class="mx-auto w-50" method="post">
            {% csrf_token %}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h4 class="text-center">Cadastre sua persona</h4>
                    <div class="form-group card-body">
                        <label class="card-title" for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome">
                        {% if form.nome.errors %}
                        <p class="error-message">{{ form.nome.errors }}</p>
                        {% endif %}

                        <label for="idade">Idade</label>
                        <input type="number" class="form-control" id="idade" name="idade">
                        {% if form.idade.errors %}
                        <p class="error-message">{{ form.idade.errors }}</p>
                        {% endif %}

                        <label for="interesses">Interesses</label>
                        <input type="text" class="form-control" id="interesses" name="interesses">
                        {% if form.interesses.errors %}
                        <p class="error-message">{{ form.interesses.errors }}</p>
                        {% endif %}

                        <div class="mt-3">
                            {{ form.sexo }}
                            {{ form.sexo.errors }}
                              
                        </div>

                        <div class="mt-3">
                            {{ form.neurodivergente }}
                            {{ form.neurodivergente.errors }}
                        </div>


                        
                        <div class="pt-3 float-end">
                            <a class="btn btn-group " href="{% url 'persona:main_page' %}">Voltar</a>
                            <button class="btn btn-primary" type="submit">Criar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}